.inputSection {
  margin-bottom: 20px;
}
.inputSection h1,
.range p,
.checkbox h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #202124;
  margin-bottom: 16px;
  /* position: absolute; */
  /* margin-bottom: 20px; */
}
.range{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .625rem;
}

.input {
  /* position: relative; */
  width: 100%;
  /* margin-top: 20px; */
  height: 60px;
  padding: 14px 20px 14px 54px;
  line-height: 30px;
  font-size: 14px;
  color: dimgray;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #ecedf2;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.CiSearch {
  position: relative;
  z-index: 20;
  top: 43px;
  left: 30px;
}

.range-input {
  width: 100%;
  scroll-behavior: smooth;
}
.input{
  outline: none;
}
.checkbox {
  display: flex;
  align-items: center;
}
/* range************************** */
/* The switch - the box around the slider */
.switch {
  scale: 0.6;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: -100px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* range************************** */

.checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
}
.checkbox h1 {
  margin-left: 10px;
  font-size: 15px;
  color: #5c6770;
  line-height: 20px;
  margin-top: 10px;
}

.results {
  display: flex;
  justify-content: center;

  align-items: center;
  min-width: 85px;
  padding: 0 10px;
  height: 30px;
  text-align: center;
  background: #d4e1f6;
  border-radius: 8px;
  font-size: 14px;
  line-height: 19px;

  color: var(--primary-color);
}
